extends ../layout

block content
    h1.
        #{title}
    form#formProject(name="addproject" method="post" action="/projects/update/#{project._id}")
        input(type='hidden' value='put' name='_method',enctype='application/x-www-form-urlencoded')
        a(href="/projects"): button(type="button" style="float:right;margin-bottom:20px" class="btn btn-primary") Back
        br
        input(type="hidden" name="members[]" id="members")
        p Naziv projekta: 
            input#inputName(type="text" placeholder="Naziv" name="project_name" value="#{project.naziv_projekta}" required=true)
        p Opis:
            input#inputDescription(type="text" placeholder="Opis" name="project_description" value="#{project.opis_projekta}" required=true)
        p Obavljeni poslovi: 
            input#inputJobs(type="text" placeholder="Obavljeni poslovi" name="jobs_done" value="#{project.obavljeni_poslovi}" required=true)
        p Cijena: 
            input#inputPrice(type="number" placeholder="npr. 123" name="project_price" value="#{project.cijena_projekta}" required=true)
        p Datum početka: 
            input#textStartDate(type="date" name="start_date" value="#{datum_pocetka}" required=true)
        p Datum završetka: 
            input#textEndDate(type="date" name="end_date" value="#{datum_zavrsetka}" required=true)
        p Članovi: 
            input(type="text" id="inputMember" placeholder="Novi član" style="display:inline-block")
            input(type="button" value="Add to list" id="add" class="btn btn-primary" style="margin-left:20px")
            ul(id="list" class="list-group")
                - project.clanovi.forEach(function(item) {
                    li(class="list-group-item" style="margin: auto; text-align: center;")= item
                        input(type="button" class="delete btn btn-danger" style="float:right" value="X")
                - })
        p
            input#btnSubmit(type="submit" value="Submit")


            
    script.
        $(document).ready(function(){
            $("#add").click(function() {
                var text = $("#inputMember").val();
                if(text.length > 0){
                    $("#list").append('<li class="list-group-item" style="margin: auto; text-align: center;" value="'+ text +'">'+text+'<input type="button" class="delete btn btn-danger" style="float:right" value="X"/></li>');
                }
                else{
                    alert("Minimum length: 3 characters");
                }
            });

            $(document).on('click', '.delete', function() {
                if (confirm("Are you sure?")) {
                    $(this).parent().remove();
                }
                return false;
            });

            $(document).on('click', '#btnSubmit', function() {
                var members = [];
                $('#list li').each(function (i) {
                    members.push($(this).text());
                });
                //Save members in hidden input for form submit
                $('#members').val(JSON.stringify(members));

                $('#formProject .submit').click();
            });
        });
